.MessageBoxProfileWrapper{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px){
    .image-message{
        .spidey-image{
            img{
                height: 112px;
                width: 198px;
            }

        }
    }
}

